<div class="row-fluid">
  <div class="span12">
    <h1><%= @status.updated %> songs found in iTunes</h1>
    <% unless @status.failed.empty? %>
      <div class="alert fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        Darn, there were <%=@status.failed.size%> songs which couldn't be looked up.  Don't worry though, we'll analyze them in the background for you.
      </div>
    <% end %>
  </div>
</div>


<form id="sliders" method="post" class="form-horizontal" action="/playlist/<%=@catalog.id%>">

<div class="row-fluid">
  <div class="span12">
    <input type="text" name="name" class="span6" placeholder="Name the playlist">
  </div>
</div>
<div class="row-fluid">
  <div class="span8">
    <%= dual_slider(:duration, 0, 10) %>
    <%= dual_slider(:tempo, 20, 500) %>
    <%= dual_slider(:loudness, 0, 100) %>
    <%= dual_slider(:danceability, 0, 100) %>
    <%= dual_slider(:energy, 0, 100) %>
    <%= dual_slider(:hotttnesss, 0, 100) %>
    <%= dual_slider(:adventurousness, 0, 100) %>
    <%= dual_slider(:variety, 0, 100) %>
  </div>

  <div class="span4">
    <h6>Mode</h6>
    <%= select_tag(:mode, [ [0,:minor], [1, :major] ]) %>
    <h6>Sort</h6>
    <%= select_tag(:sort, EchonestWrapper::SORT) %>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <button id="submit" type="submit" class="btn btn-primary">Create</button>
  </div>
</div>
</form>



